*{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}
.title{
    background-color: rgb(26, 31, 41);
    text-align: center;
    font-size: 50px;
    padding: 15px;
    border-radius: 50px;
}
.title h1{
    background-color: #fff;
    border-radius: 50px;
    padding: 5px;
}
header{
    background-color: rgb(20, 190, 154);
    height: 100vh;
}
.bullets{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 20px;
    color: #fff;
}