*{
    margin: 0px;
    padding: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.title{
    background-color: rgb(26, 31, 41);
    text-align: center;
    border-radius: 25px;
    font-size: 50px;
    padding: 20px; 
}
.title h1{
    background-color: #fff;
    border-radius: 25px;
}
header{
    background-color: rgb(20, 190, 154);
    height: 100vh;
}
table{
    margin-top: 20px;
    border: 1px solid gray;
    font-family: sans-serif;
    border-collapse: collapse;
    width: 100%;
    color: #fff;
    
}
td{
    border: 1px solid rgb(26, 31, 41);
    font-size: 22px;
    text-align: left;
}
tr:nth-child(odd){
    background-color: rgb(26, 31, 41);
    font-size: 18px;
}
tr:nth-child(even){
    background-color: rgb(15, 88, 117);
    font-size: 18px;
}
.data{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}