*{
    margin: 0px;
    padding: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header{
    background-image: radial-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(dp.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}
ul{
    float: right;
    list-style-type: none;
    margin: 25px;
}
ul li{
    display: inline-block;
}
ul li a{
    text-decoration: none;
    color: #fff;
    padding: 10px 15px;
    border: 1px solid transparent;
    border-radius: 25px;
    transition: .5s ease-in-out;
}
ul li a:hover{
    background-color: #fff;
    color: #000;
}
ul li.active a{
    border: 1px solid;
    border-color: #fff;
    color: rgba(224, 97, 12, 0.719);
}
.profile img{
    float: left;
    width: 100px;
    height: 100px;
    border-radius: 200px;
    margin-top: 10px;
    border: 3px solid rgba(0,0,0,0.5);
}
.main{
    max-width: 1200px;
    margin: auto;
}
.title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); 
}
.title h1{
    font-size: 80px;
    color: #fff;
}
.twitter{
    position: absolute;
    top: 3%;
    left: 13%;
    transform: translate(-15%,-15%);
    width: 25px;
    height: 25px;
}
.fb{
    position: absolute;
    top: 10%;
    left: 80%;
    transform: translate(-10%,-10%);
    width: 25px;
    height: 25px;
}
.insta{
    position: absolute;
    top: 10%;
    left: 295%;
    transform: translate(-10%,-10%);
    width: 25px;
    height: 25px;
}
